<section class="" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">        
        <div class="col-xl-10">
          <div class="card rounded-3">
            <div class="row g-0">              
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <!-----Volver a Landing Page------->  
                <div id="flecha">
                  <a routerLink=""><i class="bi bi-arrow-left"></i></a>                  
                </div> 
                <!-----Texto Bienvenida------------> 
                <!-----                         
                <div class="texto-oscuro px-3 py-4 p-md-5 mx-md-4">--->
                <div class="px-3 py-4 p-md-5 mx-md-4">  
                  <h4 id="textoBenvindo" class="mb-4">Bienvenido de nuevo</h4>
                  <p class="small mb-0">Gracias por confiar en nosotros, ahora es momento de seguir organizando tu actividad financiera.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">  
                  <div class="text-center">
                    <img  src="../../../../../assets/img/charta.png"
                      style="width: 100px;" alt="logo">
                    <h4 class="mt-1 mb-3 pb-1">CHARTA</h4>
                  </div>  
                  <form  [formGroup]="loginForm" (ngSubmit)="onLogin($event)" autocomplete="off">
                    <div class="text-center">
                        <p class="mb-3">INICIO DE SESIÓN</p>
                    </div> 
                    <!-----Email----->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email"  formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="usuario@email.com" [ngClass]="{'is-valid':!Email?.errors&& Email?.touched}"/> 
                        <div *ngIf="Email?.errors && Email?.touched">
                          <p *ngIf="Email?.hasError('required')" class="text-danger">
                            Ingrese su email
                          </p>
                          <p *ngIf="Email?.hasError('email')" class="text-danger">
                            El formato del email es inválido
                          </p>    
                        </div>                       
                    </div>
                    <!-----Password----->                    
                    <div class="campo form-outline mb-4">
                        <label class="label form-label" for="password">Contraseña</label>
                        <input [type]="ocultar?'password':'text'" id="password" name="password" formControlName="password" class="input-password form-control" [ngClass]="{'is-valid':!Password?.errors && Password?.touched}"/>
                        <label class="eye-icon" for="password"><i [class]="ocultar ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="ocultar = !ocultar"></i></label>
                        <div *ngIf="Password?.errors && Password?.touched">                          
                          <p *ngIf="Password?.hasError('required')" class="text-danger">
                            Ingrese su contraseña
                          </p>
                          <p *ngIf="Password?.hasError('minlength')" class="text-danger">
                            La contraseña tiene como mínimo 6 caracteres
                          </p>
                          <p *ngIf="Password?.hasError('maxlength')" class="text-danger">
                            La contraseña tiene como máximo 22 caracteres
                          </p>
                        </div>                  
                    </div>
                    <!-----Boton Iniciar Sesión------->
                    <div class="text-center pt-1 mb-2 pb-1">
                      <button class="btn btn-violet btn-block fa-lg  mb-3" type="submit" [disabled]="!loginForm.valid">Inicia sesión</button>
                    </div>
                    <div class="text-center mb-3">                        
                      <a class="text-muted" href="#!">¿Olvidaste tu contraseña?</a>
                    </div>
                    <!-----Boton ir a Registro------->  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">¿No tienes una cuenta?</p>
                      <a routerLink="/auth/registro">Crea una</a>
                    </div>  
                  </form> 
                  
                  <!---- 
                  <div class="text-center">
                    <a routerLink="">Cancelar</a>
                  </div> --->
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
