section {
    height:max-content
}
/*
.gradient-custom-2 {    
    background-color: #FAFAFA;
    color:#3E3E3E
}*/

#flecha {
    position:absolute;
    top:25px;
    left:25px;
    margin-bottom: 25px;
    font-size: 30px;
}
#textoBenvindo {
    margin-top:55px
}
#flecha a {
    color:white
}
.texto-oscuro {
    color:#3E3E3E
}
.texto-oscuto h4 {
    font-weight: bolder;
}
.gradient-custom-2 h4 {
    font-size:2rem
}
/*
.btn-violet {
    background-color: #5D21D2;
    color:white
}*/
/*    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}*/
/*
.eye-icon {
    position: absolute;
}*/
/*
.campo {
    position: relative;
}
 
.label {
    width: 100%;
}
 
.input-password {
    width: 100%;
    padding: 7px;
}
 
.eye-icon {
    position: absolute;
    right: 35px;
    top: 39px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;
}*/
/*
@media screen and (max-width: 766px) {
    .eye-icon {
      position: absolute;
      right: 2rem;
    }
}*/