<!---
<ng-template #contiene>--->
    <main class=" ms-sm-auto px-md-4 ">
        <div class="col mb-2">
            <h1 class="mb-3">¡Hola, {{infoGeneral.firstName}}!</h1>
            <div >
                <span id="fechita" class="mb-2" style="color:#5D21D2">{{hoy}}</span>
            </div>        
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom">
            <div class="container mb-3">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col col-lg-3">
                        <div class=" mb-2 card card-cover  rounded-1 p-1">
                            <div class="d-flex flex-column h-100  text-black">
                                <span> Mis ingresos</span>
                                <h3 class="mt-2 lh-1 fw-bold d-flex justify-content-center">
                                    $ {{infoGeneral.balanceIncome}}
                                </h3>                          
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                        <div class="mb-2 card card-cover  rounded-1 p-1">
                            <div class="d-flex flex-column h-100  text-black">
                                <span> Mis gastos</span>
                                <h3 class=" mt-2 lh-1 fw-bold d-flex justify-content-center">
                                    $ {{infoGeneral.balanceExpense}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6 d-flex justify-content-end align-self-end">
                        <span><a routerLink="/dashboard/estadisticas" style="color :#5D21D2; text-decoration: none;">Ver todas las estadisticas ></a></span>
                    </div>
    
                </div>
            </div>
        </div>
    
        <canvas class="my-2 w-100" id="myChart" width="900" height="300"></canvas>
        <div class="d-flex row justify-content-end align-items-center ">
            <h5>Mis últimos movimientos</h5>
            <div class="col col-lg-6 d-flex justify-content-end ">
                <span><a href="" style="color: #5D21D2; text-decoration: none;">Ver todos los movimientos ></a></span>
            </div>
        </div>    
    
        <!-------TABLA MOVIMIENTOS------>
        <div class="">
            <!-----VISTAS TABLA EN PC----->
            <div class="tabla-gastos">        
                <div  class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr class="p-3 bg-light">
                                <th scope="col">Fecha</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Importe</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of listaMovimientos">
                            <tr class="p-2" [class]="{'colorGasto':(item.categoria=='Alimentos' || item.categoria=='Servicios' || item.categoria=='Movilidad' || item.categoria=='Varios'),'colorIngreso':(item.categoria=='Diario' || item.categoria=='Semanal' || item.categoria=='Mensual' || item.categoria=='Anual')}">
                                <td id="fechitita">{{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}}</td>
                                <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Alimentos' || item.categoria=='Diario'),'text-bg-success':(item.categoria=='Servicios' || item.categoria=='Semanal'),'text-bg-danger':(item.categoria=='Movilidad' || item.categoria=='Anual' ),'text-bg-primary':(item.categoria=='Varios' || item.categoria=='Mensual' )}">{{item.categoria}}</span></td>
                                <td>{{item.descripcion}}</td>
                                <td>${{item.importe}}</td>
                                <td><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto" (click)="editableId()"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto" (click)="trashId()"></app-borrar></td>
                            </tr>                                      
                        </tbody>
                    </table>
                </div>        
            </div>
    
            <!-----VISTAS TABLA EN MOVIL----->
            <div class="tabla-gastos-movil">        
                <div  class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr class="p-3">
                                <th scope="col">Categoria/<br>Fecha</th>
                                <th scope="col">Importe/<br>Descripción</th>                    
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of listaMovimientos">
                            <tr class="p-2" [class]="{'colorGasto':(item.categoria=='Alimentos' || item.categoria=='Servicios' || item.categoria=='Movilidad' || item.categoria=='Varios'),'colorIngreso':(item.categoria=='Diario' || item.categoria=='Semanal' || item.categoria=='Mensual' || item.categoria=='Anual')}">
                                <td><span id="categorizador" class="p-2 badge" [class]="{'text-bg-warning':(item.categoria=='Alimentos' || item.categoria=='Diario'),'text-bg-success':(item.categoria=='Servicios' || item.categoria=='Semanal'),'text-bg-danger':(item.categoria=='Movilidad' || item.categoria=='Anual' ),'text-bg-primary':(item.categoria=='Varios' || item.categoria=='Mensual' )}">{{item.categoria}}</span><br><span id="fechoso">({{item.fecha.getDate()}}/{{item.fecha.getMonth()+1}}/{{item.fecha.getFullYear()}})</span></td>
                                <td>${{item.importe}}<br>{{item.descripcion}}</td>
                                <td class=""><app-editar data-bs-toggle="modal" data-bs-target="#editarGasto" (click)="editableId()"></app-editar><app-borrar data-bs-toggle="modal" data-bs-target="#eliminarGasto" (click)="trashId()"></app-borrar></td>
                            </tr>                                      
                        </tbody>
                    </table>
                </div>        
            </div>          
        </div>       
    </main><!----
</ng-template>---->

<!-----
<div *ngIf="spinner,else contiene">    
    <div class="text-center">
        <div id="spinner" class="spinner-border" role="status">
          <span  class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>---->
