<div ngbDropdown class="d-inline">
    <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-text-left"></i> Filtrar</button>
    <div id="abrete" class="bg-light" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div class="text-center titulo-filtro">
            <p>Filtros</p>
        </div>
        <hr>
        <div class="item-filtro">
            <div class="en-linea text-center">
                <div class="sub-item mb-1">
                    <label for="">Desde</label><br>
                    <input type="date">
                </div>
                <div class="sub-item mb-2">
                    <label for="">Hasta</label><br>
                    <input type="date">
                </div>                
            </div>
        </div>
        <div class="item-filtro">
            <div class="en-linea">
                <div class="sub-item mb-1">
                    <label for="">Mínimo</label>
                    <input type="number">
                </div>
                <div class="sub-item mb-2">
                    <label for="">Máximo</label>
                    <input type="number">
                </div>                
            </div>
        </div>
        <div class="item-filtro">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="flexCheckDefault">
                  Anual
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckDefault">
                  Mensual
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Semanal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Diario
                </label>
            </div>
        </div>
        <hr>
        <div class="boton-aplicar text-center">
            <button class="btn btn-aceptar">Aplicar</button>
        </div>
    </div>
</div>

