section {
    height:max-content
}
/*
.gradient-custom-2 {
    background-color: #FAFAFA;
    color:#3E3E3E;
}*/
/*
.btn-violet {
    background-color: #5D21D2;
    color:white
}*//*
.textillo {    
    position:relative;
    top:-100px
}*/

#flecha {
    position:absolute;
    top:25px;
    right:25px;
    margin-bottom: 25px;
    font-size: 30px;   
}
#flecha a {
    color:white
}
.gradient-custom-2 h4 {
    font-size: 2rem;
    font-weight: bolder;
}
/*    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
*/
@media screen and (max-width: 991px) {
    #flecha a {
        color:#3E3E3E
    }
}/*


/*
.campo {
    position: relative;
}
 
.label {
    width: 100%;
}
 
.input-password {
    width: 100%;
    padding: 7px;
}
 
.eye-icon {
    position: absolute;
    right: 35px;
    top: 39px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;
}*/