<main class="d-flex row  flex-lg-row   container justify-content-center" style="width:100%">

    <h1>Estadisticas</h1>

    <hr>

    <section class="" >
        <figure class="" style="height: 40vh">
            <h2 class="titular-estadisticas">Comparativa mensual de ingresos y gastos</h2>
            <canvas id="barChartIncomesExpensesMonths"></canvas>
        </figure>
    </section>

    <section id="pie-pie" class="">
        <figure  class="col col-lg-6 text-center">
            <h2  class="titular-estadisticas">Gastos por categoría</h2>
            <canvas id="pieChartGeneral" style="max-height:300px;"></canvas>
        </figure>
        
        <!----
        <figure class="col col-lg-6">
            <h2 class="titular-estadisticas">Gasto mas importante
                <select id="featuresOptions" style="font-size: 20px ;">
                    <option value="h">Año</option>
                    <option value="l">Mes</option>
                    <option value="l">Semana</option>
                </select>
            </h2>
            <canvas id="radarChartIncomesExpenses" style="max-height:450px "></canvas>
        </figure>--->

    </section>
    <section>
        <figure  class="col col-lg-6 text-center">
            <h2  class="titular-estadisticas">Gastos vs Ingresos</h2>
            <canvas id="pieChartGeneral2" style="max-height:300px;"></canvas>
        </figure>        
    </section>
</main>